<html>

<body>
    <div style="max-width: 600px; width: 100%; text-align:left">

        <p>
        Alarm has been triggered.The {{msg}}
        </p>

        <p>
            Thanking You,
        </p>

        <p>
            Regards,
            <br>
            <b> Iris Team </b>
        </p>

    </div>
</body>

</html>