<html>

<body>
    <div style="max-width: 600px; width: 100%; text-align:left">

        <p>
            Dear <b> {{name}} team,
        </p>

        <p>
            Please find attached copy of the {{mode}} report.
        </p>

        <p>
            Thanking You,
        </p>

        <p>
            Regards,
            <br>
            <b> Iris Team </b>
        </p>

    </div>
</body>

</html>