<html>

<body>
    <div style="max-width: 600px; width: 100%; text-align:left">

        <p>
        Your Password Updation link is <a href={{msg}}>"click here to update your password"</a>
        </p>

        <p>
            Thanking You,
        </p>

        <p>
            Regards,
            <br>
            <b> Iris Team </b>
        </p>

    </div>
</body>